@import "../../app/Variables.css";

.header-div-light, .header-div-dark{
    gap: 250px;
    padding: 0.5em;
    position: sticky;
    display: flex;
    justify-content: space-between;
    top:0;
    z-index: 100;
}
.header-div-light{    
    border-bottom: 1px solid var(--grey);
    background-color: var(--yellow);
}
.header-div-dark{
    border-bottom: 1px solid var(--brown);
    background-color: var(--darkColor);
}
.header-div-right {
    display: flex;
    flex-direction: row;     
    gap: 15px;                
    margin-left: auto;        
}
.settings-div {
    white-space: nowrap;
    display: flex;
    flex-direction: column;                  
}

.profile-div {
    display: flex;
    flex-direction: column;        
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.link{
    text-decoration: none;
    color: black;
    width: 300px;

}
.link-light:hover, .link-light.active{
    background-color: var(--lightYellow);
}
.link-dark:hover, .link-dark.active{
    background-color: var(--brown);
}
.menu-div {
    display: contents;
    line-height: 60px;
    text-align: center;
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    cursor: pointer;
}
.link-dark{
    color: white;
}
.link-light{    
    color: black;
}