@import "../../app/Variables.css";

.header-div-light, .header-div-dark{
    padding: 0.5em;
    position: sticky;
    display: flex;
    justify-content: space-between;
    top:0;
    z-index: 100;
}
.header-div-light{    
    border-bottom: 1px solid var(--grey);
    background-color: var(--yellow);
}
.header-div-dark{
    border-bottom: 1px solid var(--brown);
    background-color: var(--darkColor);
}
.header-div-right{
    display: block
}
.link{
    text-decoration: none;
    color: black;
    width: 300px;
    height: 100%;
}
.link-light:hover{
    background-color: var(--lightYellow);
}
.link-dark:hover{
    background-color: var(--brown);
}
.link:active{
    color: antiquewhite;
}
.menu-div{  
    display: contents;
    line-height: 60px;
    text-align: center;
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    cursor: pointer;
}
.link-dark{
    color: white;
}
.link-light{    
    color: black;
}